{% extends 'base.html.twig' %}

{% block body %}
    <table width="100%">
        <colgroup>
            <col class="grey">
            <col class="red">
            <col class="blue" >
        </colgroup>
        <tr><th></th><th>Group<br>1<br>1A</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th>18<br>8A</th></tr>
        <tr>
            <th width="80">1</th>
            {% for item in elements %}
                {% if item.getId()==1 %}
                    <td width="80" align="center">
                        <a href="{{ path('elements_propertis_get', { 'id': item.id }) }}">{{ item.getId() }}<br>{{ item.getElement() }}<br>{{ item.getName() }} </a>
                    </td>
                {% endif %}
            {% endfor %}
            <th>2<br>2A</th>
            <th colspan= "10">
            <th>13<br>3A</th>
            <th>14<br>4A</th>
            <th>15<br>5A</th>
            <th>16<br>6A</th>
            <th>17<br>7A</th>
            {% for item in elements %}
                {% if item.getId()==2 %}
                    <td width="80" align="center">
                        <a href="{{ path('elements_propertis_get', { 'id': item.id }) }}">{{ item.getId() }}<br>{{ item.getElement() }}<br>{{ item.getName() }} </a>
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <th>2</th>
            {% for item in elements %}
                {% if (item.getId()>2) and (item.getId()<5) %}
                    <td width="80" align="center">
                        <a href="{{ path('elements_propertis_get', { 'id': item.id }) }}">{{ item.getId() }}<br>{{ item.getElement() }}<br>{{ item.getName() }} </a>
                    </td>
                {% endif %}
            {% endfor %}
            <th colspan = "10"> </th>
            {% for item in elements %}
                {% if (item.getId()>4) and (item.getId()<11) %}
                    <td width="80" align="center">
                        <a href="{{ path('elements_propertis_get', { 'id': item.id }) }}">{{ item.getId() }}<br>{{ item.getElement() }}<br>{{ item.getName() }} </a>
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <th>3</th>
            {% for item in elements %}
                {% if (item.getId()>10) and (item.getId()<13) %}
                    <td width="80" align="center">
                        <a href="{{ path('elements_propertis_get', { 'id': item.id }) }}">{{ item.getId() }}<br>{{ item.getElement() }}<br>{{ item.getName() }} </a>
                    </td>
                {% endif %}
            {% endfor %}
            <th>3<br>3B</th>
            <th>4<br>4B</th>
            <th>5<br>5B</th>
            <th>6<br>6B</th>
            <th>7<br>7B</th>
            <th>8</th>
            <th>9<br>8B</th>
            <th>10</th>
            <th>11<br>1B</th>
            <th>12<br>2B</th>
            {% for item in elements %}
                {% if (item.getId()>12) and (item.getId()<19) %}
                    <td width="80" align="center">
                        <a href="{{ path('elements_propertis_get', { 'id': item.id }) }}">{{ item.getId() }}<br>{{ item.getElement() }}<br>{{ item.getName() }} </a>
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <th>4</th>
            {% for item in elements %}
                {% if (item.getId()>18)and (item.getId()<37) %}
                    <td width="80" align="center">
                        <a href="{{ path('elements_propertis_get', { 'id': item.id }) }}">{{ item.getId() }}<br>{{ item.getElement() }}<br>{{ item.getName() }} </a>
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <th>5</th>
            {% for item in elements %}
                {% if (item.getId()>36) and (item.getId()<55) %}
                    <td width="80" align="center">
                        <a href="{{ path('elements_propertis_get', { 'id': item.id }) }}">{{ item.getId() }}<br>{{ item.getElement() }}<br>{{ item.getName() }} </a>
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <th>6</th>
            {% for item in elements %}
                {% if (item.getId()>54) and (item.getId()<57) %}
                    <td width="80" align="center">
                        <a href="{{ path('elements_propertis_get', { 'id': item.id }) }}">{{ item.getId() }}<br>{{ item.getElement() }}<br>{{ item.getName() }} </a>
                    </td>
                {% endif %}
            {% endfor %}
            {% for item in elements %}
                {% if (item.getId()>70) and (item.getId()<87) %}
                    <td width="80" align="center">
                        <a href="{{ path('elements_propertis_get', { 'id': item.id }) }}">{{ item.getId() }}<br>{{ item.getElement() }}<br>{{ item.getName() }} </a>
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
    </table>
{% endblock %}

{% block stylesheets %}
<style>
    td {
        text-align:center;
        background-color:rgba(0,0,255,.25);;
    }
</style>
{% endblock %}
